@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    min-height: 90vh;
    background-color: #F8F9FA;
    align-items: center;
}

nav {
    height: 8vh;
    padding: 1vh 20px;
    background-color: #242424;
    color: #fff;
}

.box {
    text-align: center;
    height: 70vh;
    padding: 20px 40px;
    overflow: scroll;
}

.content {
    min-height: 70vh;
    align-items: center;
    margin: 0 4%;
}

.bg-primary {
    background-color: #fff !important;
}

.bg-secondary {
    background-color: #EFEFEF !important;
}

.line {
    display: block;
    /* margin: 0 5% */

}

table {
    text-align: start;
    
    
}

.text-left {
    text-align: start;
}

.inactive > td {
    color: gray;
}

.ovfsc {
    overflow-y: scroll;
}

h2 {
    margin-bottom: 20px;
}

.btn-primary-outline {
    color: #0076BA;
}

.btn-outline-primary {
    color: #0076BA;
    border-color: #0076BA;
}

.btn-outline-primary:hover {
    background-color: #0076BA;
    color: #fff;
    border-color: #0076BA;
}

.btn-success {
    background-color: #1DB100;
    border-color: #1DB100;
}

.btn-success:hover {
    background-color: #017F00;
    border-color: #017F00;
}

.text-primary {
    color: #0076BA;
}

.table-inactive {
    color: #929292;
}

.spacer{
    margin-bottom: 30px;
  }